<div class="row valign-wrapper login-wrapper">
    
    <div class="login-box col l4 m6 s12 section">

        <h5 class="left-align"><strong>Login</strong></h5>
        
        <div class="divider_noborder"></div>
        
        <form class="section">

            <div class="input-field" id="input-field-name">
              <input required id="input-name" type="text" class="validate">
              <label class="valid" for="input-name">Name</label>
              <div class="form-error-label left-align">&nbsp;</div>
            </div>

            <div class="input-field" id="input-field-avatar">
              <input id="input-avatarurl" type="text" class="validate">
              <label for="input-avatarurl">Avatar URL</label>
              <div class="form-error-label left-align">&nbsp;</div>
            </div>

            <div class="input-field" id="input-field-room">
              <input id="input-room" type="text"  data-error="Please input this field" class="validate">
              <label for="input-room">Room ID</label>
              <div class="form-error-label left-align">&nbsp;</div>
            </div>

            <div class="input-field right-align">
                <span id="btn_enter" class="waves-effect waves-light btn-large z-depth-2"><i class="mdi-hardware-keyboard-arrow-right left"></i>Enter</span>
            </div>

        </form>

    </div>

</div>